langchain
langchain-groq
langchain-huggingface
langchain-chroma
langchain-community
langchain-text-splitters
langchain-tavily
langgraph
crewai
ragas
datasets
chromadb
sentence-transformers
python-dotenv
tenacity
streamlit
groq
pypdf
beautifulsoup4